.react-datepicker {
    /* box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25); */
    border: none ;
    font-family: AbeeZee;
    border-radius: 4px;
    margin:0 auto;
    width:100%;
}

.react-datepicker__month-container {
    text-align: center;
    border: transparent;
    border-radius: 35px;
}

.react-datepicker__header{

    padding-top: 0.8em;
    background: white;
    
}
.react-datepicker__current-month{
    color: #828282;
    font-size:30px;
    margin-bottom: 35px;
}

.react-datepicker__day-name{
    font-size: 25px;
    margin-bottom: 15px;
    margin-right:35px;
    margin-left:25px;
}

.react-datepicker__month{
    font-size:25px;
    margin: 15px 0px;
}

.react-datepicker__day{
    margin: 25px 30px;
}

/*일단 필요한건 day--selected만*/
.react-datepicker__day--selected,
    .react-datepicker__day--range-end,
    .react-datepicker__day--in-selecting-range,
    .react-datepicker__day--in-range,
    .react-datepicker__day--selecting-range-end{
    background: #A2A1FF ;
    color: white;
    border-radius: 50%;
    font-weight: 700;
}

.react-datepicker__day:hover,
    .react-datepicker__month-text:hover,
    .react-datepicker__quarter-text:hover,
    .react-datepicker__year-text:hover {
        border-radius: 50%;
    }
